name: CI
on: [push, pull_request, workflow_dispatch]
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true
jobs:
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: install
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: mingw-w64-x86_64-toolchain mingw-w64-x86_64-cmake mingw-w64-x86_64-vulkan-devel mingw-w64-x86_64-glslang
    - name: build
      shell: msys2 {0}
      run: |
        mkdir build; cd build
        cmake ../src -DCMAKE_CXX_FLAGS="-include cstdint"
        cmake --build . -j 2

  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: install
      run: |
        sudo apt-get update
        sudo apt-get install libvulkan-dev glslang-tools
    - name: build
      run: |
        mkdir build && cd build
        cmake ../src
        cmake --build . -j 2

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: install
      run: |
        brew install vulkan-volk glslang
    - name: build
      run: |
        mkdir build && cd build
        cmake ../src
        cmake --build . -j 2
