name: CI
on: [push, pull_request, workflow_dispatch]
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true
jobs:
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: install
      uses: msys2/setup-msys2@v2
      with:
        msystem: CLANG64
        update: true
        install: mingw-w64-clang-x86_64-toolchain mingw-w64-clang-x86_64-cmake mingw-w64-clang-x86_64-vulkan-devel mingw-w64-clang-x86_64-glslang
    - name: build
      shell: msys2 {0}
      run: |
        mkdir -p build; cd build
        cmake ../src -DCMAKE_CXX_FLAGS="-include cstdint"
        cmake --build . -j 2

  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: install
      run: |
        sudo apt-get update
        sudo apt-get install libvulkan-dev glslang-tools vulkan-tools mesa-vulkan-drivers imagemagick-6.q16
    - name: build
      run: |
        mkdir -p build; cd build
        cmake ../src
        cmake --build . -j 2
    - name: test
      run: |
        cd build
        ln -s ../models/models-se models-se
        ln -s ../models/models-nose models-nose
        ln -s ../models/models-pro models-pro
        cp ../scripts/test.sh test.sh
        ./test.sh

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: install
      run: |
        brew install vulkan-volk glslang
    - name: build
      run: |
        mkdir -p build; cd build
        cmake ../src
        cmake --build . -j 2
