name: CI
on: [push, pull_request, workflow_dispatch]
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true
jobs:
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: install
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: mingw-w64-x86_64-toolchain mingw-w64-x86_64-cmake git mingw-w64-x86_64-vulkan-devel mingw-w64-x86_64-glslang
    - name: cache-deps
      uses: actions/cache@v4
      with:
        path: build-deps
        key: avs-v3.7.5-${{ runner.os }}
        restore-keys: |
          avs-v3.7.5-
    - name: build-deps
      shell: msys2 {0}
      run: |
        mkdir -p build-deps; cd build-deps
        if [ ! -d AviSynthPlus ]; then
          git clone --branch v3.7.5 --depth 1 https://github.com/AviSynth/AviSynthPlus
          cd AviSynthPlus
          git submodule update --init --recursive
        else
          cd AviSynthPlus
        fi
        cmake . && cmake --build . -j 2
    - name: build
      shell: msys2 {0}
      run: |
        mkdir build; cd build
        cmake ../src -DAVISYNTHPLUS_ROOT_DIR=../build-deps/AviSynthPlus/avs_core
        cmake --build . -j 2

  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: install
      run: |
        sudo apt-get update
        sudo apt-get install libvulkan-dev glslang-tools vulkan-tools
    - name: cache-deps
      uses: actions/cache@v4
      with:
        path: build-deps
        key: avs-v3.7.5-${{ runner.os }}
        restore-keys: |
          avs-v3.7.5-
    - name: build-deps
      run: |
        mkdir -p build-deps; cd build-deps
        if [ ! -d AviSynthPlus ]; then
          git clone --branch v3.7.5 --depth 1 https://github.com/AviSynth/AviSynthPlus
          cd AviSynthPlus
          git submodule update --init --recursive
        else
          cd AviSynthPlus
        fi
        cmake . && cmake --build . -j 2
    - name: build
      run: |
        mkdir -p build && cd build
        cmake ../src -DAVISYNTHPLUS_ROOT_DIR=../build-deps/AviSynthPlus/avs_core
        cmake --build . -j 2

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: install
      run: |
        brew install vulkan-volk glslang
    - name: cache-deps
      uses: actions/cache@v4
      with:
        path: build-deps
        key: avs-v3.7.5-${{ runner.os }}
        restore-keys: |
          avs-v3.7.5-
    - name: build-deps
      run: |
        mkdir -p build-deps; cd build-deps
        if [ ! -d AviSynthPlus ]; then
          git clone --branch v3.7.5 --depth 1 https://github.com/AviSynth/AviSynthPlus
          cd AviSynthPlus
          git submodule update --init --recursive
        else
          cd AviSynthPlus
        fi
        cmake . && cmake --build . -j 2
    - name: build
      run: |
        mkdir -p build; cd build
        cmake ../src -DAVISYNTHPLUS_ROOT_DIR=../build-deps/AviSynthPlus/avs_core
        cmake --build . -j 2
